body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;    
    margin:0;
    display:flex;
    flex-direction: column;
    background-color: #1F2937;
}

.links {
    margin-left:auto;
}

.footer {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    /* border: 2px solid white; */
    color: white;
}


.header-content {
    color:white;
    display:flex;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    align-self: center;
}

.links ul {
    display:flex;
    gap: 20px;
}

ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color:white;
}

.content-block.two,
.content-block.four{
    background-color: white;
    display:flex;
}

.content-block.three {
    background-color: #E5E7EB;
}

.content-block.one {
    display:flex;
    align-items: center;
    padding-top:48px;
    padding-bottom:48px;
    max-width:800px;
    margin-right:auto;
    margin-left: auto;
}


.content-block.one h1 {
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
}

.content-block.one p {
    margin-top:-20;
    font-size: 18px;
    color: #E5E7EB;
}

.hero-main h1{
    margin-bottom:-15px;
    margin-top:-10px
}

.hero-main {
    padding-right: 20px;
}

.top{
    cursor:pointer;
    background: #3882F6;
    border:#3882F6;
    border-radius: 5px;
    padding:5px 20px;
    color: white;
}

.content-block.two {
    flex-direction: column;
    align-items: center;
}

.content-block.two h2 {
    padding:20px;
    font-size: 36px;
    color: #1F2937;
}
.container-illu {
    display:flex;
    gap:50px;
    padding-bottom: 75px;
}

.illu-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 120px;
    flex:1;
}

.boxtext {
    padding-top:10px;
    text-align: center;
}

.box {
    flex: 1;
    border: 3px solid #3882F6;
    border-radius: 20px;
    box-sizing: border-box;
    width: 100%;
    min-height: 120px; 
}

.content-block.three {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 75px;
}

.quote-container {
    max-width: 500px;
}

.content-block.three .author {
    text-align: right;
    font-weight: 700;
    padding-right: 25px;
    padding-top: 10px;
}
.content-block.three .text {
    font-style: italic;
}

.content-block.four {
    justify-content: center;
    padding: 50px;
    color:white;
}

.action-container {
    display:flex;
    align-items: center;
    background-color: #3882F6;
    padding: 25px 75px;
    border-radius: 5px;
    gap:20px;
}

.bottom{
    cursor:pointer;
    background: #3882F6;
    border: 2px solid white;
    border-radius: 25px;
    padding:5px 20px;
    color:white;
}

.actioncall {
    font-size: 20px;
}

.actiontext {
    font-size: 13px
}